<!DOCTYPE html>
<html>
<head>
	<title>Info</title>
</head>
<body>
	<h2>Submitted Information:</h2>
	<div>Name: <%= user.name %></div>
	<div>Email: <%= user.dojo %></div>
	<div>Name: <%= user.language %></div>
	<div>Email: <%= user.comment %></div>
	<a href="/">Back</a>
</body>
</html>