<!DOCTYPE html>
<html lang="en" ng-app = 'app'>
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<script src = 'bower_components/angular/angular.js'>
	</script>
	<script>
	var app = angular.module('app', []);
	app.controller('foodController', ['$scope', function($scope){
		$scope.favFoods = []
		$scope.addFood = function(){
			$scope.favFoods.push($scope.favFood)
			$scope.favFood = ''
		}
	}]);
	</script>
</head>
<body ng-controller="foodController">
	<form>
		<label>
			Favorite food <input type="text" ng-model="favFood">
		</label>
		<button ng-click="addFood()">Add food</button>
	</form>
	<p ng-if="favFood">Currently Typing: {{ favFood }}</p>
	<div>
		<input type="text" ng-model="productSearch">
		<ul>
			<li ng-repeat="favFood in favFoods | filter:productSearch">{{ favFood }}</li>
		</ul>
	</div>
</body>
</html>